<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills nav-justified">
      {{ if ne .IsHome true }}
        <li class="nav-item">
          <a class="p-1" href="/">🏠</a>
        </li>
      {{ end }}

      {{ range .Site.Menus.main }}
        <li class="nav-item">
        {{ if .Page.Params.redirect_url }}
          <a class="p-1" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a>
        {{ else }}
          <a class= "p-1" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
        {{ end }}
        </li>
      {{ end }}
    </ul>
  </div>
</div>
