<article>
  {{ if .Title }}
    <header>
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    </header>
    <div class="post-body">
      {{ .Content }}
    </div>
    <small>
      <time datetime="{{ .Date.Format "01/02/2019, 5:53:07 PM" }}" class="text-muted">{{ .Date.Format "01/02/2019, 5:53:07 PM" }}</time>
      <a class="text-muted" href="{{ .Permalink }}">#</a>
    </small>
  {{ else }}
    <small>
      <time datetime="{{ .Date.Format "01/02/2019, 5:53:07 PM" }}" class="text-muted">{{ .Date.Format "01/02/2019, 5:53:07 PM" }}</time>
      <a class="text-muted" href="{{ .Permalink }}">#</a>
    </small>
    <div class="post-body">
      {{ .Content }}
    </div>
  {{ end }}
  </a>
</article>

<hr />
