<article class="col mt-3 mx-5">
  {{ if .Title }}
    <header>
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <small>
        <time datetime="{{ .Date.Format "01/02/2006, 3:04:05 PM" }}" class="text-muted">{{ .Date.Format "01/02/2006, 3:04:05 PM" }}</time>
        <a class="text-muted" href="{{ .Permalink }}">#</a>
      </small>
    </header>
    <div class="post-body pt-3">
      {{ .Summary }}
      {{ if .Truncated }}
        <p><a href="{{ .RelPermalink }}">Read More</a></p>
      {{ end }}
    </div>
  {{ else }}
    <small>
      <time datetime="{{ .Date.Format "01/02/2006, 3:04:05 PM" }}" class="text-muted">{{ .Date.Format "01/02/2006, 3:04:05 PM" }}</time>
      <a class="text-muted" href="{{ .Permalink }}">#</a>
    </small>
    <div class="post-body pt-3">
      {{ .Content }}
    </div>
  {{ end }}
</article>
