<div class="row justify-content-center posts">
  {{ if or .Params.enable_pagination .IsHome }}
    {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
    {{ $list := $paginator.Pages }}
    {{ range $list  }}
      {{ partial "post_item.html" . }}
    {{ end }}
  {{ else }}
    {{ $list := where .Data.Pages.ByDate.Reverse "Type" "post" }}
    {{ range $list  }}
      {{ partial "post_item.html" . }}
    {{ end }}
  {{ end }}
</div>

{{ if .Params.enable_pagination }}
  {{ partial "pagination" . }}
{{ end }}
