{{ define "main" }}
  <div class="row">
    <h1>Archive</h>
  </div>

  {{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}

  {{ if gt (len $list) 0 }}
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2>Categories</h2>

        <ul class="list-group list-group-flush">
          {{ range $list }}
            <li class="list-group-item">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  {{ end }}

  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>All Posts</h2>
      {{ $list := (where .Site.Pages "Type" "post") }}

      <div class="list-group list-group-flush">
        {{ range $list }}
        <a class="list-group-item" href="{{ .Permalink }}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ .Title }}</h5>
            <small>
              <time datetime="{{ .Date.Format "01/02/2006, 3:04:05 PM" }}" class="text-muted">{{ .Date.Format "01/02/2006, 3:04:05 PM" }}</time>
            </small>
            <p class="mb-1">
              {{ .Summary | truncate 100 }}
            </p>
          </div>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
